.projects {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.projects-done, .projects-inProgress {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
    align-items: start;
}

.projects-done {
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
}

.projects-inProgress {
    margin-top: 40px;
}
