.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.project-block {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.project-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: bottom 0.3s ease-in-out;
    z-index: 2;
}

.project:hover .project-overlay {
    bottom: 0;
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    opacity: 0;
    text-align: center;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    transition: opacity 0.3s ease-in-out;
}

.project:hover .project-info {
    opacity: 1;
}

.project-date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffae00;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 3px solid black;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    bottom: 2px;
}

.project:hover .project-date {
    bottom: calc(100% - 20px);
}
