.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background: #0A1430;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header-title {
    color: #ff5400;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    justify-content: center;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.header-link:hover {
    color: #ffae00;
}

.header-icon-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header-icon-link:hover {
    color: #ffae00;
    opacity: 0.7;
}

.header-nav a[href$=".pdf"] {
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffae00;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.header-nav a[href$=".pdf"]:hover {
    background-color: #b6512e;
    border-color: white;
    color: white;
}
