.footer {
    margin-top: 50px;
    background-color: #0A1430;
    color: white;
    padding: 60px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.footer-name {
    font-size: 1.5rem;
}

.footer-links, .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links ul, .footer-contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li, .footer-contact li {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
