.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 80px 300px;
    background-color: lightblue;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.aboutMe-content {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    align-items: center;
}

.aboutMe-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMe-text {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
    max-width: 80%;
}

.aboutMe-picture {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center -50px;
    justify-self: center;
    align-self: center;
}