.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 80px 100px;
    background-color: lightblue;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.aboutMe-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.aboutMe-text {
    font-size: 1.2rem;
}

.aboutMe-picture {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
}